backend apache
server apache1 localhost:18080 maxconn 1024 check 2m
http-response replace-header Location ^http://(.*)$ https://\1

backend payara-dev
option httpchk
# HTTP/2 over clear text
server server1 localhost:8080 maxconn 1024 check inter 2m
http-response replace-header Location ^http://(.*)$ https://\1
